{% extends 'catalog/base.html' %}

{% block content_1 %}
<div class="row py-lg-2">
    <div class="col-lg-11 col-md-8 mx-auto">
        {% if perms.catalog.add_product %}
        <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Создать товар</a>
        {% else %}
        <a class="btn btn-outline-primary">Создавать товары могут только зарегистрированные пользователи</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}

{% for product in product_list %}
{% if product.is_active %}
<div class="col-2">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <div class="card-header">
                <h6 class="my-0 font-weight-normal">{{ product.product_name }}</h6>
            </div>
        </div>
        <div class="card-body">
            <h2 class="card-title pricing-card-title">{{ product.product_price }}</h2>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>{{ product.product_description|truncatechars:100 }}</li>
            </ul>
            {% if product.active_version_number %}
            <small class="text-body-secondary">Текущая версия - {{ product.active_version_number }}</small>
            <br>
            <small class="text-body-secondary">Описание версии - {{ product.active_version_name }}</small>
            {% endif %}
            <br>
            <small class="text-body-secondary">Владелец - {{ product.owner|default:"Не определен" }}</small>
            <br><br>
            <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product' pk=product.id %}">Купить</a>
            {% if request.user == product.owner %}
            <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:edit_product' pk=product.id %}">Изменить</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}